.search {
  margin: 4rem auto;
  max-width: 960px;
  display: flex;
  justify-content: center;
  position: relative;
}

.search__result {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  height: 100px;
  z-index: 10;
  background-color: white;
  transform: translateX(-50%);
  display: flex;
  padding: 40px 20px 10px 20px;
  border: 2px solid white;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 0 40px 0 #444;
}

.search-result__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-weight: 300;
  font-size: 0.8rem;
  padding: 10px;
}
.search-result__title {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 10px;
}

.search-result__tags {
  display: flex;
  justify-content: space-between;
}

.search-result__image {
  height: 80px;
  width: 60px;
  object-fit: contain;
}

.search__input {
  width: 50%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 10px 20px;
  color: #333;
  border: none;
  background-color: white;
  border-radius: 100px;
  outline: none;
  background-color: rgb(255,255,255);
  border: 2px solid transparent;
  position: relative;
  z-index: 20;
}

.search__input:focus {
  border: 2px solid darkslateblue;
}

.search__input:hover {
  border: 2px solid #ddd;
}